body {
  font-family: 'Montserrat', sans-serif;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin:15px auto;
}

.top-buffer { 
  margin-top:20px;
}

.top-bufferx2 { 
  margin-top:40px;
}

.top-bufferlg { 
  margin-top:100px;
}

.subsection-header {
  font-weight: 900;
  margin-top: 90px;
}

.subsection-subheader {
  line-height: 2;
}

hr {
    border: 0;
    height: 1px;
    width: 200px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*--------Nav Bar-------*/

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   -webkit-transition: all ease .3s;
   -moz-transition: all ease .3s;
     -o-transition: all ease .3s;
        transition: all ease .3s;
}

.navbar-default .navbar-nav li a {
  text-transform: uppercase;
  padding-top: 2em;
  color: #fff;
}

ul.nav a:hover { 
  color: #ccc !important; 
  margin-top: -1px;
}

.dropdown-menu {
  background-color: rgba(0,0,0,0.8);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #000;
  color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #000;
    color:#ffffff;
  }

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background-color: transparent;
}

.socialicon {
  margin-right: 10px;
  margin-top: -100px;
  width: 40px;
}

/*--------Header-------*/

.page-header {
  border: none;
  color: #fff;
  text-shadow: 1px 1px #000;
}

#first {
  padding-top: 200px;
  padding-bottom: 200px;
}

#dl {
  font-size: 15pt;
}

#top {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
  url(https://i.imgur.com/IeNvffM.jpg) fixed;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
}

/*-----2nd Section----*/

#second {
  background: url(https://i.imgur.com/chN4Uhy.png);
  background-size: 475px;
  z-index: -1;
  border-top: 1px solid gold;
}

#ark {
  width: 70%;
}

#minionart {
  width: 70%;
}

#tenshii {
  width: 70%;
}

/*-----Footer----*/

#footer {
  background-color: #000;
  color: #fff;
}

#footer p{
  font-weight: 100;
}


/*------------------RESPONSIVE--------------------*/

@media (max-width: 768px) {

  #trailer {
    height: 281px;
    width: 500px;
  }

  .navbar-default .navbar-nav li a {
    text-align: right;
    background-color: rgba(0,0,0,0);
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: gold;
  background-color: rgba(0,0,0,0.9)
  }

.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
  background-color: transparent;
  color: #ffffff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
  color: #fff;
}

#threelines {
  margin-right: 50px;
  margin-top: 20px; 
}

}