html {
	height: 100%;
}
body {
	height:100%;
}
.center {
	margin:150px auto;
}
#second {
	vertical-align: top;
	height: 80%;
	min-height: 670px;
}
#form-center {
	display: inline-block;
	margin: 0 auto;
}
#password-reset-form {
	background-color: rgba(170, 170, 100, 1);
	background-image: linear-gradient(to bottom right, rgba(130, 130, 40, 0.3), rgba(140, 140, 50, 0.5), rgba(150, 150, 70, 0.6), rgba(150, 150, 30, 0.5), rgba(140, 140, 30, 0.4));
	border: 3px solid;
	border-color: rgba(0, 0, 0, 0.62);
	border-radius: 3px;
	padding: 5px 25px 25px 25px;
	/*box-shadow: inset 0 75px 125px -100px rgba(0,0,0,0.4), inset 0 -75px 75px -85px rgba(0,0,0,.3);*/
	box-shadow: 0 0 8px 0px #000;
}
.ext-border {
	background-color: rgba(150, 150, 0, 0.2);
	padding:8px 8px 0 8px;
	border-width: 3px;
	border-style: solid;
	border-color: rgba(0,0,0, 0.5);
	border-radius: 3px;
	box-shadow: 8px 15px 80px 2px black;
}
form input {
	display: block;
	margin: 0 auto 25px auto;
	border-radius: 3px;
	padding: 0 5px;	
}
form label {
	display: block;
}
#submit {
	padding: 10px;
	width: 75%;
	border-radius: 150px;
	background: linear-gradient(to bottom right, rgba(50, 50, 50, 0.8) 5%, rgba(100, 100, 0, 0.5) 0, rgba(250, 250, 100, 0.3) 60%, rgba(100, 100, 0, 0.3) 100%);
	font-weight: 900;
}
#submit:disabled {
	background: linear-gradient(to bottom right, rgba(50, 50, 50, 0.8) 5%, rgba(100, 100, 100, 0.8) 0, rgba(150, 150, 150, 0.7) 60%, rgba(70, 70, 70, 0.6) 100%););
}
form input[name="email"] {
	background-color: rgba(150, 150, 150, 0.5);
	border: 1px solid rgba(50, 50, 0, 0.8);
}
#password, #confirm_password, #email {
	padding: 10px;
	border: solid 3px rgba(0,0,0, 0.5);
	box-shadow: inset 0 0 0 1px #707070;
	transition: box-shadow 0.3s, border 0.5s;
}
#email {
	padding: 5px 10px;
}
#password:focus, #confirm_password:focus, #password.focus, #confirm_password.focus{
	border: solid 3px #ff0;
}
#footer {
	position: relative;
	vertical-align: top;
	min-height: 20%;
}
#form-result {
	display: inline-block;
	margin: 10px 0;
	max-width: 300px;
	max-height: 75px;
	word-wrap: break-word;
	text-align: center;
	overflow: auto;
}
#form-result::-webkit-scrollbar-track
{
	margin: 0 15px;
	background-color: rgba(100, 100, 10, 0.5);
}

#form-result::-webkit-scrollbar
{
	width: 0;
	background-color: rgb(150,150,30);
}

#form-result::-webkit-scrollbar-thumb
{
	background-color: rgb(150,150,30);
}