<?xml version="1.0" ?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- remove first in case they are defined in IIS already, which would cause a runtime error -->
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
			<mimeMap fileExtension=".webm" mimeType="video/webm" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Redirect all to non-www" stopProcessing="true">
                    <match url="(.*)" negate="false"></match>
                    <action type="Redirect" url="http://maestrosgame.com/{R:1}" redirectType="Found"></action>
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^maestrosgame\.com$" negate="true"></add>
                    </conditions>
                </rule>
                <rule name="Hide .html ext">
                    <match ignoreCase="true" url="^(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}.html" />
                </rule>
                <rule name="Redirecting .html ext" stopProcessing="true">
                    <match url="^(.*).html" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="(.*).html" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" />
                </rule>
                <rule name="Redirect Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{StaticRedirects:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="http://maestrosgame.com{C:1}" appendQueryString="False" redirectType="Permanent" />
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="StaticRedirects">
                    <add key="/download/" value="/download" />
                </rewriteMap>
            </rewriteMaps>
        </rewrite>
    </system.webServer>
</configuration>